body {
  background-color: hsla(55, 36%, 70%, 0.541);
}

.header {
  display: flex;
  justify-content: center;
  font-family:"suravaram";
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.527);
  letter-spacing: 3px;
  word-spacing: 8px;
  gap: 3px;
  vertical-align: middle;
}

.row {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}


#return {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 23px;
  margin-bottom: 3px;
  padding: 5px;
}

a:link {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font: 25px helvetica;
  border: solid 3px hsla(56, 22%, 38%, 0.541);
  background: rgba(255, 255, 255, 0.25);
  display: block;
  color: hsla(56, 45%, 14%, 0.541);
  width: 300px;
  transition: 0.3s;
}

a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: hsla(56, 22%, 38%, 0.541);
  box-shadow: 0 0 3px 3px hsla(55, 36%, 70%, 0.655);
}

a:active {
  background-color: hsla(54, 16%, 39%, 0.281);
  color: hsla(56, 22%, 38%, 0.541);
  border: solid 3px hsla(55, 36%, 70%, 0.836);
}

a:visited {
  color: hsla(56, 22%, 38%, 0.541);
}