body {
    background-color: lightslategray;
}

h1 {
    font-family: 'Courier New';
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
}

.menu {
    
}
.column {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    align-content: center;
}

.waffle, .joes, .pie, .soup {          
    
}

a:link {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border: solid 3px white;
    margin-bottom: 20px;    
    background: rgba(255,255,255,.25); 
    display: block;
    color: midnightblue;
}

a:active {
    text-decoration: none;
    background: rgba(255,255,255,.5);
    color: black;
    border: solid 3px rgba(28, 29, 37, 0.247);
}

a:hover {
    background: rgba(255,255,255,.1);
}